h1 {
  color: orange;
  text-align: center;
}
.inside {
  border: 1px solid rgb(255, 97, 97);
  height: 900px;
  padding: 20px;
  margin: 2rem auto;
}
.employee-form {
  border: 1px solid gray;
  padding: 20px;
  width: 600px;
  margin: 2rem auto;
}
.filter-form {
  width: 500px;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 2rem;
}

.filter_button {
  margin-top: 2rem;
  width: 100%;
}

.filter-data {
  width: 500px;
  margin: 20px auto;
}
