{% extends 'base.html' %}
<span />

{% load static %}
<span />

{% block page_title %} kanon_blog {% endblock %}
<span />

{% block content%}
<h2>Welcome to my blog</h2>
<header>
  <h1><a href="">Kanon's Blog</a></h1>
  <nav>
    <a href="">All Posts</a>
  </nav>
</header>

<section id="welcome">
  <header>
    <img src="" alt="image" />
    <h2>ANOTHER BLOG</h2>
    <p>Hi ther is nothing to do in my life brother</p>
  </header>
</section>

<section id="latest-posts">
  <h2>My latest Posts</h2>
  <ul>
    <li>
      <article class="post">
        <a href="">
          <img src="" alt="latest-image" />
          <div class="post-content">
            <h3>Mountain Hiking</h3>
            <p>
              A. Hiking is a long distance walk along a specific trail, most
              commonly across country. Some hikes can be challenging and last
              for days including camping, but others can be a long day walk at a
              steady pace. However, mountain climbing is a challenging sport in
              which people climb steep rocky slopes to reach the top
            </p>
          </div>
        </a>
      </article>
    </li>
  </ul>
</section>

<section id="about">
  <h2>Here is about me</h2>
  <p>
    Hiking involves a long energetic walk in a natural environment on hiking
    trails or footpaths for a day or overnight.
  </p>
  <p>
    Hiking involves a long energetic walk in a natural environment on hiking
    trails or footpaths for a day or overnight.
  </p>
</section>
{% endblock %}
